.main-area {
	margin-top: 80px;
}

.nav-box {
	background-color: white;
	height: 80px;
	display: flex;
}

.nav-content {
	display: flex;
	justify-content: space-between;
}

.nav-box-right {
	display: flex;
}

.top-menu, .top-logo {
	align-self: center;
}

.top-logo {
	font-size: 45px;
}

.top-menu {
	margin-left: 30px;
}

.nav-box a {
	color: navy;
	font-weight: 600;
	text-decoration: none;
}

.nav-box-right a {
	color: rgb(66, 87, 178);
	font-weight: 500;
	font-size: 20px;
}

.nav-box-right a:hover {
	text-decoration: none;
	color: navy;
	border-bottom: 2px solid navy;
}

.login {
	background-color: navy;
	color: white;
}

.join {
	background-color: rgb(247, 213, 95);
}

.login:hover {
	background-color: rgb(66, 87, 178);
	color: white;
}

.join:hover {
	background-color: rgb(229, 181, 25);
}